
<nav xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand" href="/home">Globogym</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Coach
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/index_coach">Voir les coachs</a></li>
                        <li><a class="dropdown-item" href="/showNewCoachForm">Ajout coach</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Cours
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/index_cours">Voir les cours</a></li>
                        <li><a class="dropdown-item" href="/showNewCoursForm">Ajout cours</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Client
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/index_client">Voir les clients</a></li>
                        <li><a class="dropdown-item" href="/showNewClientForm">Ajout client</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Réservation
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/index_reservation">Voir les réservations</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion Utilisateur
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/index_user">Voir les utilisateurs</a></li>
                        <li><a class="dropdown-item" href="/admin/showNewUserForm">Ajout utilisateur</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout">Se déconnecter</a>
            </ul>
        </div>
    </div>
</nav>




